.body {
    min-height: 100%;
    height: 100%;
}
.clearfix::after {
    content:'';
    display: block;
    clear: both;
}
.wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}
.header {
    width: 600px;
    height: 150px;
    background-color: #ffff00;
}
.main {
    width: 600px;
    height: 150px;
}
.main-left {
    float: left;
    width: 400px;
    height: 100%;
}
.left {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #33ffff;
}
.right {
    float: right;
    width: 200px;
    height: 100%;
    background-color: #ff0000;
}
.main-right {
    float: right;
    width: 200px;
    height: 100%;
    background-color: #0000ff;
}
.center {
    width: 600px;
    height: 150px;
}
.center-left {
    float: left;
    width: 450px;
    height: 100%;
    background-color: #00ff00;
}
.center-right {
    float: right;
    width: 150px;
    height: 100%;
    background-color: #ff00ff;
}
.footer {
    width: 600px;
    height: 150px;
    background-color: #33ffff;
}