.body {
    min-height: 100%;
    height: 100%;
}
.clearfix {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #141f40;
}
.main {
    width: 400px;
    height: 250px;
}
.main-left {
    float: left;
    width: 250px;
    height: 250px;
}
.left-top {
    width: 250px;
    height: 150px;
}
.top-left {
    float: left;
    width: 100px;
    height: 150px;
    background-color: #dbd403;
}
.top-right {
    float: right;
    width: 150px;
    height: 150px;
}
.top {
    width: 100%;
    height: 50px;
    background-color: #8c2727;
}
.bottom {
    width: 150px;
    height: 100px;
    background-color: #ff9e6b;
}
.left-bottom {
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}
.main-right {
    float: right;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #d98d30;
}
